@charset "utf-8";


body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	/*background: #666666; */
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}

.topnav {
    overflow: hidden;
    background-color: rgb(7, 119, 156);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: grey;
    color: white;
  }




.VisualizationMainPage #mainContent {
	background: #FFFFFF;
}



.VisualizationMainPage #container {


	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}


.VisualizationMainPage #algoControlSection
{
	background: #DDEEDD; 
	color:#000000; 

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: #DDEEDD; 
	color:#49b2e2; 

}

.VisualizationMainPage  #header { 
	background: rgb(31, 139, 175); 
	color:white;
	padding: 0 10px 0 20px; 
  
} 
 
.VisualizationMainPage #header  A:visited 
	  { text-decoration:none;
        color:white; 
	   }
	   
	   
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
	}
	   
.VisualizationMainPage #header A:link {
    text-decoration:none;
    color:white;
	}
	
	
.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	
	
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
}

.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:#ffCC33;
}


	

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:rgb(31, 139, 175)
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:rgb(31, 139, 175)
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:rgb(31, 139, 175)
}


EM {text-decoration: bold;}

	
